In [18]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from ast import literal_eval
from sklearn.feature_extraction.text import TfidfVectorizer , CountVectorizer
from sklearn.metrics.pairwise import linear_kernel , cosine_similarity 
from nltk.stem.snowball import SnowballStemmer
from nltk.stem.wordnet import WordNetLemmatizer
from nltk.corpus import wordnet
from surprise import Reader , Dataset , SVD , evaluate

import warnings; warnings.simplefilter('ignore')

# Simple Recommendar

In [19]:
md = pd.read_csv("movies_metadata.csv")
md.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,FALSE,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,10/30/1995,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,FALSE,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,12/15/1995,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,FALSE,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,12/22/1995,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,FALSE,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,12/22/1995,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,FALSE,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,2/10/1995,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [22]:
md.shape

(45466, 24)

In [20]:
md['genres'] = md['genres'].fillna('[]').apply(literal_eval).apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])

In [21]:
md['genres']

0                        [Animation, Comedy, Family]
1                       [Adventure, Fantasy, Family]
2                                  [Romance, Comedy]
3                           [Comedy, Drama, Romance]
4                                           [Comedy]
5                   [Action, Crime, Drama, Thriller]
6                                  [Comedy, Romance]
7                 [Action, Adventure, Drama, Family]
8                      [Action, Adventure, Thriller]
9                      [Adventure, Action, Thriller]
10                          [Comedy, Drama, Romance]
11                                  [Comedy, Horror]
12                    [Family, Animation, Adventure]
13                                  [History, Drama]
14                               [Action, Adventure]
15                                    [Drama, Crime]
16                                  [Drama, Romance]
17                                   [Crime, Comedy]
18                        [Crime, Comedy, Adventure]
19                           [Action, Comedy, Crime]
20                         [Comedy, Thriller, Crime]
21                                 [Drama, Thriller]
22              [Action, Adventure, Crime, Thriller]
23       [Drama, Fantasy, Science Fiction, Thriller]
24                                  [Drama, Romance]
25                                           [Drama]
26                           [Comedy, Drama, Family]
27                                  [Drama, Romance]
28             [Fantasy, Science Fiction, Adventure]
29                                    [Drama, Crime]
                            ...
45436            [Action, Mystery, Thriller, Horror]
45437           [Family, Animation, Romance, Comedy]
45438                                        [Drama]
45439                       [Drama, Fantasy, Horror]
45440                      [Drama, Family, TV Movie]
45441                                       [Comedy]
45442                                             []
45443             [Comedy, Fantasy, Science Fiction]
45444                                      [Fantasy]
45445                              [Fantasy, Comedy]
45446                              [Fantasy, Comedy]
45447                                             []
45448                                             []
45449                            [Animation, Family]
45450                    [Fantasy, Action, Thriller]
45451                              [Comedy, Fantasy]
45452                                  [Documentary]
45453                       [Crime, Drama, Thriller]
45454                                [Comedy, Drama]
45455                                             []
45456                    [Horror, Mystery, Thriller]
45457                              [Mystery, Horror]
45458                                       [Horror]
45459                              [Science Fiction]
45460                       [Drama, Action, Romance]
45461                                [Drama, Family]
45462                                        [Drama]
45463                      [Action, Drama, Thriller]
45464                                             []
45465                                             []
Name: genres, Length: 45466, dtype: object

# Building top 250 Chart

In [30]:
vote_counts = md[md['vote_count'].notnull()]['vote_count'].astype('int')
vote_averages = md[md['vote_average'].notnull()]['vote_average'].astype('int')
C = vote_averages.mean()
C

5.244896612406511

In [31]:
m = vote_counts.quantile(0.95)
m

434.0

In [35]:
md['year'] = pd.to_datetime(md['release_date'], errors='coerce').apply(lambda x: str(x).split('-')[0] if x != np.nan else np.nan)

In [36]:
md['year']

0        1995
1        1995
2        1995
3        1995
4        1995
5        1995
6        1995
7        1995
8        1995
9        1995
10       1995
11       1995
12       1995
13       1995
14       1995
15       1995
16       1995
17       1995
18       1995
19       1995
20       1995
21       1995
22       1995
23       1995
24       1995
25       1995
26       1995
27       1995
28       1995
29       1995
         ...
45436    2010
45437    2017
45438    2015
45439    1944
45440    2007
45441    2002
45442    1905
45443    1901
45444    1905
45445    1906
45446    1909
45447    1904
45448    1904
45449    2005
45450    1900
45451    1900
45452    1981
45453    2017
45454    2015
45455    1972
45456    1946
45457    2000
45458    2000
45459    1995
45460    1991
45461     NaT
45462    2011
45463    2003
45464    1917
45465    2017
Name: year, Length: 45466, dtype: object

In [47]:
qualified = md[(md['vote_count'] >= m) & (md['vote_count'].notnull()) & (md['vote_average'].notnull())][['title', 'year', 'vote_count', 'vote_average', 'popularity', 'genres']]
qualified['vote_count'] = qualified['vote_count'].astype('int')
qualified['vote_average'] = qualified['vote_average'].astype('int')
qualified.shape

(2274, 6)

In [49]:
# a function for weighted rating------
def weighted_rating(x):
    v = x['vote_count']
    R = x['vote_average']
    return (v/(v+m) * R) + (m/(m+v) * C)

In [51]:
qualified['wr'] = qualified.apply(weighted_rating, axis=1)
# applying weighted rating function

In [53]:
qualified['wr']

0        6.869770
1        5.884891
5        6.671675
9        5.798701
15       6.571348
17       5.663191
18       5.790195
31       6.737701
33       5.724609
38       5.740321
43       5.119961
46       7.811669
47       5.831336
49       7.682666
68       6.195655
69       5.842293
93       5.119020
95       6.325319
102      5.727132
108      6.801533
109      7.610008
142      5.848491
144      6.159255
147      6.632199
150      5.054144
155      5.778421
158      6.191385
160      5.753968
162      5.870366
170      5.098686
           ...
42214    5.831075
42222    5.945051
42235    5.881691
42271    5.067568
42309    5.035654
42355    5.881905
42537    6.336485
42853    5.863053
42868    5.682447
42886    6.364708
42901    5.813268
42902    5.034164
43059    5.664570
43186    6.225112
43190    6.968322
43220    6.310041
43231    5.855186
43238    5.041583
43255    5.922654
43294    5.715525
43644    6.697372
43645    6.380216
44009    5.865470
44274    5.844611
44337    5.755254
44624    6.261904
44632    5.722745
44678    6.757878
44842    5.825125
45014    5.094728
Name: wr, Length: 2274, dtype: float64

In [54]:
qualified = qualified.sort_values('wr', ascending=False).head(250)

# Top Movies

In [55]:
qualified.head(15)

,title,year,vote_count,vote_average,popularity,genres,wr
15480,Inception,2010,14075,8,29.1081,"[Action, Thriller, Science Fiction, Mystery, A...",7.917588
12481,The Dark Knight,2008,12269,8,123.167,"[Drama, Action, Crime, Thriller]",7.905871
22879,Interstellar,2014,11187,8,32.2135,"[Adventure, Drama, Science Fiction]",7.897107
2843,Fight Club,1999,9678,8,63.8696,[Drama],7.881753
4863,The Lord of the Rings: The Fellowship of the Ring,2001,8892,8,32.0707,"[Adventure, Fantasy, Action]",7.871787
292,Pulp Fiction,1994,8670,8,140.95,"[Thriller, Crime]",7.868660
314,The Shawshank Redemption,1994,8358,8,51.6454,"[Drama, Crime]",7.864000
7000,The Lord of the Rings: The Return of the King,2003,8226,8,29.3244,"[Adventure, Fantasy, Action]",7.861927
351,Forrest Gump,1994,8147,8,48.3072,"[Comedy, Drama, Romance]",7.860656
5814,The Lord of the Rings: The Two Towers,2002,7641,8,29.4235,"[Adventure, Fantasy, Action]",7.851924
256,Star Wars,1977,6778,8,42.1497,"[Adventure, Action, Science Fiction]",7.834205
1225,Back to the Future,1985,6239,8,25.7785,"[Adventure, Comedy, Science Fiction, Family]",7.820813
834,The Godfather,1972,6024,8,41.1093,"[Drama, Crime]",7.814847
1154,The Empire Strikes Back,1980,5998,8,19.471,"[Adventure, Action, Science Fiction]",7.814099
46,Se7en,1995,5915,8,18.4574,"[Crime, Mystery, Thriller]",7.811669

In [60]:
s = md.apply(lambda x: pd.Series(x['genres']),axis=1).stack().reset_index(level=1, drop=True)
s.name = 'genre'
gen_md = md.drop('genres', axis=1).join(s)

In [61]:
def build_chart(genre, percentile=0.85):
    df = gen_md[gen_md['genre'] == genre]
    vote_counts = df[df['vote_count'].notnull()]['vote_count'].astype('int')
    vote_averages = df[df['vote_average'].notnull()]['vote_average'].astype('int')
    C = vote_averages.mean()
    m = vote_counts.quantile(percentile)
    
    qualified = df[(df['vote_count'] >= m) & (df['vote_count'].notnull()) & (df['vote_average'].notnull())][['title', 'year', 'vote_count', 'vote_average', 'popularity']]
    qualified['vote_count'] = qualified['vote_count'].astype('int')
    qualified['vote_average'] = qualified['vote_average'].astype('int')
    
    qualified['wr'] = qualified.apply(lambda x: (x['vote_count']/(x['vote_count']+m) * x['vote_average']) + (m/(m+x['vote_count']) * C), axis=1)
    qualified = qualified.sort_values('wr', ascending=False).head(250)
    
    return qualified

# Top 15 Romantic Movies

In [64]:
build_chart('Romance').head(15)

,title,year,vote_count,vote_average,popularity,wr
10309,Dilwale Dulhania Le Jayenge,1995,661,9,34.457,8.565285
351,Forrest Gump,1994,8147,8,48.3072,7.971357
876,Vertigo,1958,1162,8,18.2082,7.811667
40251,Your Name.,2016,1030,8,34.461252,7.789489
883,Some Like It Hot,1959,835,8,11.8451,7.745154
1132,Cinema Paradiso,1988,834,8,14.177,7.744878
19901,Paperman,2012,734,8,7.19863,7.713951
37863,Sing Street,2016,669,8,10.672862,7.689483
882,The Apartment,1960,498,8,11.9943,7.599317
38718,The Handmaiden,2016,453,8,16.727405,7.566166
3189,City Lights,1931,444,8,10.8915,7.558867
24886,The Way He Looks,2014,262,8,5.71127,7.331363
45437,In a Heartbeat,2017,146,8,20.82178,7.003959
1639,Titanic,1997,7770,7,26.8891,6.981546
19731,Silver Linings Playbook,2012,4840,7,14.4881,6.970581

# CONTENT BASED RECOMMENDERS

In [70]:
links_small = pd.read_csv("links_small.csv")
links_small = links_small[links_small['tmdbId'].notnull()]['tmdbId'].astype('int')

In [88]:
links_small.shape

(9112,)

In [77]:
md.shape

(45466, 25)

In [78]:
md = md.drop([19730, 29503, 35587])
# dropping these from md dataset

In [79]:
md.shape

(45463, 25)

In [85]:
md['id'] = md['id'].astype('int')
md['id']

0           862
1          8844
2         15602
3         31357
4         11862
5           949
6         11860
7         45325
8          9091
9           710
10         9087
11        12110
12        21032
13        10858
14         1408
15          524
16         4584
17            5
18         9273
19        11517
20         8012
21         1710
22         9691
23        12665
24          451
25        16420
26         9263
27        17015
28          902
29        37557
          ...
45436     45527
45437    455661
45438    327237
45439     84710
45440     39562
45441     14008
45442     44330
45443     49279
45444     44333
45445     49277
45446     49271
45447     44324
45448    122036
45449     14885
45450     49280
45451    106807
45452    276895
45453    404604
45454    420346
45455     67179
45456     84419
45457    390959
45458    289923
45459    222848
45460     30840
45461    439050
45462    111109
45463     67758
45464    227506
45465    461257
Name: id, Length: 45463, dtype: int32

In [89]:
smd = md[md['id'].isin(links_small)]
smd.shape
# there are 9099 movies in smallmovie metadataset which is 5 times less than the movies in original dataset

(9099, 26)

# Movie Description based Recommendar

In [90]:
smd

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,year,1318961311304
0,FALSE,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[Animation, Comedy, Family]",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,1995,19730
1,FALSE,NaN,65000000,"[Adventure, Fantasy, Family]",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,1995,19730
2,FALSE,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[Romance, Comedy]",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,1995,19730
3,FALSE,NaN,16000000,"[Comedy, Drama, Romance]",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,1995,19730
4,FALSE,"{'id': 96871, 'name': 'Father of the Bride Col...",0,[Comedy],NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,1995,19730
5,FALSE,NaN,60000000,"[Action, Crime, Drama, Thriller]",NaN,949,tt0113277,en,Heat,"Obsessive master thief, Neil McCauley leads a ...",...,170.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Los Angeles Crime Saga,Heat,False,7.7,1886.0,1995,19730
6,FALSE,NaN,58000000,"[Comedy, Romance]",NaN,11860,tt0114319,en,Sabrina,An ugly duckling having undergone a remarkable...,...,127.0,"[{'iso_639_1': 'fr', 'name': 'FranÃ§ais'}, {'is...",Released,You are cordially invited to the most surprisi...,Sabrina,False,6.2,141.0,1995,19730
7,FALSE,NaN,0,"[Action, Adventure, Drama, Family]",NaN,45325,tt0112302,en,Tom and Huck,"A mischievous young boy, Tom Sawyer, witnesses...",...,97.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Original Bad Boys.,Tom and Huck,False,5.4,45.0,1995,19730
8,FALSE,NaN,35000000,"[Action, Adventure, Thriller]",NaN,9091,tt0114576,en,Sudden Death,International action superstar Jean Claude Van...,...,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Terror goes into overtime.,Sudden Death,False,5.5,174.0,1995,19730
9,FALSE,"{'id': 645, 'name': 'James Bond Collection', '...",58000000,"[Adventure, Action, Thriller]",http://www.mgm.com/view/movie/757/Goldeneye/,710,tt0113189,en,GoldenEye,James Bond must unmask the mysterious head of ...,...,130.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,No limits. No fears. No substitutes.,GoldenEye,False,6.6,1194.0,1995,19730
10,FALSE,NaN,62000000,"[Comedy, Drama, Romance]",NaN,9087,tt0112346,en,The American President,"Widowed U.S. president Andrew Shepherd, one of...",...,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Why can't the most powerful man in the world h...,The American President,False,6.5,199.0,1995,19730
11,FALSE,NaN,0,"[Comedy, Horror]",NaN,12110,tt0112896,en,Dracula: Dead and Loving It,When a lawyer shows up at the vampire's doorst...,...,88.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Dracula: Dead and Loving It,False,5.7,210.0,1995,19730
12,FALSE,"{'id': 117693, 'name': 'Balto Collection', 'po...",0,"[Family, Animation, Adventure]",NaN,21032,tt0112453,en,Balto,An outcast half-wolf risks his life to prevent...,...,78.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Part Dog. Part Wolf. All Hero.,Balto,False,7.1,423.0,1995,19730
13,FALSE,NaN,44000000,"[History, Drama]",NaN,10858,tt0113987,en,Nixon,An all-star cast powers this epic look at Amer...,...,192.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Triumphant in Victory, Bitter in Defeat. He Ch...",Nixon,False,7.1,72.0,1995,19730
14,FALSE,NaN,98000000,"[Action, Adventure]",NaN,1408,tt0112760,en,Cutthroat Island,"Morgan Adams and her slave, William Shaw, are ...",...,119.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Course Has Been Set. There Is No Turning B...,Cutthroat Island,False,5.7,137.0,1995,19730
15,FALSE,NaN,52000000,"[Drama, Crime]",NaN,524,tt0112641,en,Casino,The life of the gambling paradise â€“ Las Vegas ...,...,178.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,No one stays at the top forever.,Casino,False,7.8,1343.0,1995,19730
16,FALSE,NaN,16500000,"[Drama, Romance]",NaN,4584,tt0114388,en,Sense and Sensibility,"Rich Mr. Dashwood dies, leaving his second wif...",...,136.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Lose your heart and come to your senses.,Sense and Sensibility,False,7.2,364.0,1995,19730
17,FALSE,NaN,4000000,"[Crime, Comedy]",NaN,5,tt0113101,en,Four Rooms,It's Ted the Bellhop's first night on the job....,...,98.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Twelve outrageous guests. Four scandalous requ...,Four Rooms,False,6.5,539.0,1995,19730
18,FALSE,"{'id': 3167, 'name': 'Ace Ventura Collection',...",30000000,"[Crime, Comedy, Adventure]",NaN,9273,tt0112281,en,Ace Ventura: When Nature Calls,"Summoned from an ashram in Tibet, Ace finds hi...",...,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,New animals. New adventures. Same hair.,Ace Ventura: When Nature Calls,False,6.1,1128.0,1995,19730
19,FALSE,NaN,60000000,"[Action, Comedy, Crime]",NaN,11517,tt0113845,en,Money Train,A vengeful New York transit cop decides to ste...,...,103.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Get on, or GET OUT THE WAY!",Money Train,False,5.4,224.0,1995,19730
20,FALSE,"{'id': 91698, 'name': 'Chili Palmer Collection...",30250000,"[Comedy, Thriller, Crime]",NaN,8012,tt0113161,en,Get Shorty,Chili Palmer is a Miami mobster who gets sent ...,...,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"The mob is tough, but itâ€™s nothing like show b...",Get Shorty,False,6.4,305.0,1995,19730
21,FALSE,NaN,0,"[Drama, Thriller]",NaN,1710,tt0112722,en,Copycat,An agoraphobic psychologist and a female detec...,...,124.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,One man is copying the most notorious killers ...,Copycat,False,6.5,199.0,1995,19730
22,FALSE,NaN,50000000,"[Action, Adventure, Crime, Thriller]",NaN,9691,tt0112401,en,Assassins,Assassin Robert Rath arrives at a funeral to k...,...,132.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,"In the shadows of life, In the business of dea...",Assassins,False,6.0,394.0,1995,19730
23,FALSE,NaN,0,"[Drama, Fantasy, Science Fiction, Thriller]",NaN,12665,tt0114168,en,Powder,Harassed by classmates who won't accept his sh...,...,111.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,An extraordinary encounter with another human ...,Powder,False,6.3,143.0,1995,19730
24,FALSE,NaN,3600000,"[Drama, Romance]",http://www.mgm.com/title_title.do?title_star=L...,451,tt0113627,en,Leaving Las Vegas,"Ben Sanderson, an alcoholic Hollywood screenwr...",...,112.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,I Love You... The Way You Are.,Leaving Las Vegas,False,7.1,365.0,1995,19730
25,FALSE,NaN,0,[Drama],NaN,16420,tt0114057,en,Othello,The evil Iago pretends to be friend of Othello...,...,123.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Envy, greed, jealousy and love.",Othello,False,7.0,33.0,1995,19730
26,FALSE,NaN,12000000,"[Comedy, Drama, Family]",NaN,9263,tt0114011,en,Now and Then,Waxing nostalgic about the bittersweet passage...,...,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,In every woman there is the girl she left behind.,Now and Then,False,6.6,91.0,1995,19730
27,FALSE,NaN,0,"[Drama, Romance]",NaN,17015,tt0114117,en,Persuasion,This film adaptation of Jane Austen's last nov...,...,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Persuasion,False,7.4,36.0,1995,19730
28,FALSE,NaN,18000000,"[Fantasy, Science Fiction, Adventure]",NaN,902,tt0112682,fr,La CitÃ© des Enfants Perdus,A scientist in a surrealist society kidnaps ch...,...,108.0,"[{'iso_639_1': 'cn', 'name': 'å¹¿å·žè¯ / å»£å·žè©±'}, {'i...",Released,Where happily ever after is just a dream.,The City of Lost Children,False,7.6,308.0,1995,19730
29,FALSE,NaN,0,"[Drama, Crime]",NaN,37557,tt0115012,zh,æ‘‡å•Šæ‘‡ï¼Œæ‘‡åˆ°å¤–å©†æ¡¥,A provincial boy related to a Shanghai crime f...,...,108.0,"[{'iso_639_1': 'zh', 'name': 'æ™®é€šè¯'}]",Released,In 1930's Shanghai violence was not the proble...,Shanghai Triad,False,6.5,17.0,1995,19730
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39038,FALSE,"{'id': 401562, 'name': 'Teenage Mutant Ninja T...",135000000,"[Fantasy, Action, Adventure, Comedy]",http://www.teenagemutantninjaturtlesmovie.com/,308531,tt3949660,en,Teenage Mutant Ninja Turtles: Out of the Shadows,"After supervillain Shredder escapes custody, h...",...,112.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Raise some shell.,Teenage Mutant Ninja Turtles: Out of the Shadows,False,5.8,984.0,2016,19730
39063,FALSE,NaN,0,"[Comedy, Music]",https://www.uphe.com/movies/popstar-never-stop...,341012,tt3960412,en,Popstar: Never Stop Never Stopping,"When his new album fails to sell records, pop/...",...,86.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Popstar: Never Stop Never Stopping,False,6.6,348.0,2016,19730
39097,FALSE,"{'id': 313086, 'name': 'The Conjuring Collecti...",40000000,[Horror],http://www.warnerbros.com/conjuring-2,259693,tt3065204,en,The Conjuring 2,Lorraine and Ed Warren travel to north London ...,...,134.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The next true story from the case files of Ed ...,The Conjuring 2,False,7.0,2018.0,2016,19730
39118,FALSE,NaN,0,"[Thriller, Drama, Science Fiction]",NaN,328429,tt2674430,en,Approaching the Unknown,Captain William Stanaforth is on a one-way sol...,...,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Approaching the Unknown,False,5.1,89.0,2016,19730
39149,FALSE,"{'id': 2980, 'name': 'Ghostbusters Collection'...",144000000,"[Action, Fantasy, Comedy]",http://www.ghostbusters.com/,43074,tt1289401,en,Ghostbusters,"Following a ghost invasion of Manhattan, paran...",...,116.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Who You Gonna Call?,Ghostbusters,False,5.3,2203.0,2016,19730
39224,FALSE,NaN,50000000,"[Action, Comedy]",http://www.centralintelligencemovie.com/,302699,tt1489889,en,Central Intelligence,After he reunites with an old pal through Face...,...,107.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Saving the world takes a little Hart and a big...,Central Intelligence,False,6.2,1699.0,2016,19730
39287,FALSE,"{'id': 31562, 'name': 'The Bourne Collection',...",120000000,"[Action, Thriller]",http://www.jasonbournemovie.com,324668,tt4196776,en,Jason Bourne,The most dangerous former operative of the CIA...,...,123.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,You know his name,Jason Bourne,False,5.9,2386.0,2016,19730
39288,FALSE,NaN,0,[Thriller],NaN,278348,tt2263814,en,The Maid's Room,"Drina, a young immigrant working as a live-in ...",...,98.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,How far will a family go to bury the truth?,The Maid's Room,False,4.8,4.0,2014,19730
39331,FALSE,NaN,180000000,"[Action, Adventure]",http://legendoftarzan.com,258489,tt0918940,en,The Legend of Tarzan,"Tarzan, having acclimated to life in London, i...",...,109.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Human. Nature.,The Legend of Tarzan,False,5.5,2488.0,2016,19730
39332,FALSE,"{'id': 256322, 'name': 'The Purge Collection',...",10000000,"[Action, Horror, Thriller]",http://www.purgeelectionyear.com,316727,tt4094724,en,The Purge: Election Year,Two years after choosing not to kill the man w...,...,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Keep America great,The Purge: Election Year,False,6.1,1356.0,2016,19730
39333,FALSE,NaN,33000000,[Comedy],http://www.foxmovies.com/movies/mike-and-dave-...,316023,tt2823054,en,Mike and Dave Need Wedding Dates,"Mike and Dave are young, adventurous, fun-lovi...",...,98.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,They needed hot dates. They got hot messes.,Mike and Dave Need Wedding Dates,False,5.9,901.0,2016,19730
39344,FALSE,NaN,0,[],http://espn.go.com/30for30/film?page=survive%2...,177869,tt2751904,en,Survive and Advance,"In 1983, the NC State Wolfpack, coached by Jim...",...,90.0,[],Released,NaN,Survive and Advance,False,10.0,2.0,2013,19730
39360,FALSE,NaN,0,"[Comedy, Drama, Romance]",NaN,353571,tt1639084,en,Tallulah,"Desperate to be rid of her toddler, a dissatis...",...,111.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Life can be a real mother,Tallulah,False,6.8,203.0,2016,19730
39386,FALSE,NaN,0,"[Family, Animation]",http://www.pixar.com/short_films/Theatrical-Sh...,399106,tt5613056,en,Piper,A mother bird tries to teach her little one ho...,...,6.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Piper,False,8.2,487.0,2016,19730
39463,FALSE,NaN,19000000,"[Mystery, Adventure, Crime]",http://www.playnerve.com/,328387,tt3531824,en,Nerve,"Industrious high school senior, Vee Delmonico,...",...,96.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Are you a watcher or a player?,Nerve,False,7.1,2262.0,2016,19730
39520,FALSE,NaN,0,[Documentary],NaN,368620,tt4465220,en,My Friend Rockefeller,Christian Karl Gerhartsreiter lived a life of ...,...,87.0,[],Released,NaN,My Friend Rockefeller,False,6.2,9.0,2015,19730
39549,FALSE,NaN,0,[Science Fiction],NaN,401387,tt5794766,en,Sunspring,Sunspring is a short film about three people l...,...,9.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Sunspring,False,6.6,7.0,2016,19730
39619,FALSE,NaN,0,[Documentary],NaN,373348,tt5278462,en,Author: The JT LeRoy Story,New York magazineâ€™s October 2005 issue sent sh...,...,110.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Author: The JT LeRoy Story,False,6.2,9.0,2016,19730
39663,FALSE,NaN,12000000,"[Crime, Drama, Thriller, Western]",http://hellorhighwater.movie/,338766,tt2582782,en,Hell or High Water,A divorced dad and his ex-con brother resort t...,...,102.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Blood always follows money.,Hell or High Water,False,7.2,1304.0,2016,19730
39669,FALSE,"{'id': 140760, 'name': 'Final Fantasy Collecti...",0,"[Action, Animation, Adventure, Drama, Fantasy,...",http://www.kingsglaivefinalfantasyxv-movie.com,390734,tt5595168,ja,ã‚­ãƒ³ã‚°ã‚¹ã‚°ãƒ¬ã‚¤ãƒ– ãƒ•ã‚¡ã‚¤ãƒŠãƒ«ãƒ•ã‚¡ãƒ³ã‚¿ã‚¸ãƒ¼XV,The magical kingdom of Lucis is home to the wo...,...,115.0,"[{'iso_639_1': 'ja', 'name': 'æ—¥æœ¬èªž'}]",Released,Kingsglaive: Final Fantasy XV,Kingsglaive: Final Fantasy XV,False,6.8,201.0,2016,19730
39752,FALSE,NaN,0,"[Drama, Thriller]",NaN,314420,tt3732950,en,Body,A night out turns deadly when three girls brea...,...,75.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Body,False,5.0,16.0,2015,19730
39771,FALSE,"{'id': 286023, 'name': 'Sharknado Collection',...",0,"[Comedy, Horror, Science Fiction]",http://www.syfy.com/sharknado4,390989,tt4831420,en,Sharknado 4: The 4th Awakens,The new installment of the Sharknado franchise...,...,85.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"What happens in Vegas, stays in Vegas. Unless ...",Sharknado 4: The 4th Awakens,False,4.3,88.0,2016,19730
39784,FALSE,NaN,8000000,[Drama],NaN,159550,tt0255313,en,The Last Brickmaker in America,A man must cope with the loss of his wife and ...,...,85.0,[],Released,NaN,The Last Brickmaker in America,False,7.0,1.0,2001,19730
40004,FALSE,NaN,1000000,"[Thriller, Romance]",NaN,392572,tt5165344,hi,à¤°à¥à¤¸à¥à¤¤à¤®,"Rustom Pavri, an honourable officer of the Ind...",...,150.0,"[{'iso_639_1': 'hi', 'name': 'à¤¹à¤¿à¤¨à¥à¤¦à¥€'}]",Released,Decorated Officer. Devoted Family Man. Defendi...,Rustom,False,7.3,25.0,2016,19730
40058,FALSE,NaN,15050000,"[Adventure, Drama, History, Romance]",NaN,402672,tt3859980,hi,Mohenjo Daro,"Village lad Sarman is drawn to big, bad Mohenj...",...,155.0,"[{'iso_639_1': 'hi', 'name': 'à¤¹à¤¿à¤¨à¥à¤¦à¥€'}]",Released,NaN,Mohenjo Daro,False,6.7,26.0,2016,19730
40224,FALSE,NaN,15000000,"[Action, Adventure, Drama, Horror, Science Fic...",NaN,315011,tt4262980,ja,ã‚·ãƒ³ãƒ»ã‚´ã‚¸ãƒ©,From the mind behind Evangelion comes a hit la...,...,120.0,"[{'iso_639_1': 'it', 'name': 'Italiano'}, {'is...",Released,A god incarnate. A city doomed.,Shin Godzilla,False,6.6,152.0,2016,19730
40503,FALSE,NaN,0,"[Documentary, Music]",http://www.thebeatlesliveproject.com/,391698,tt2531318,en,The Beatles: Eight Days a Week - The Touring Y...,"The band stormed Europe in 1963, and, in 1964,...",...,99.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The band you know. The story you don't.,The Beatles: Eight Days a Week - The Touring Y...,False,7.6,92.0,2016,19730
44821,FALSE,"{'id': 34055, 'name': 'PokÃ©mon Collection', 'p...",16000000,"[Adventure, Fantasy, Animation, Action, Family]",http://movies.warnerbros.com/pk3/,10991,tt0235679,ja,PokÃ©mon 3: The Movie,When Molly Hale's sadness of her father's disa...,...,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,PokÃ©mon: Spell of the Unknown,PokÃ©mon: Spell of the Unknown,False,6.0,144.0,2000,19730
44826,FALSE,"{'id': 34055, 'name': 'PokÃ©mon Collection', 'p...",0,"[Adventure, Fantasy, Animation, Science Fictio...",http://www.pokemon.com/us/movies/movie-pokemon...,12600,tt0287635,ja,åŠ‡å ´ç‰ˆãƒã‚±ãƒƒãƒˆãƒ¢ãƒ³ã‚¹ã‚¿ãƒ¼ ã‚»ãƒ¬ãƒ“ã‚£ æ™‚ã‚’è¶ŠãˆãŸé­é‡ï¼ˆã§ã‚ã„ï¼‰,"All your favorite PokÃ©mon characters are back,...",...,75.0,"[{'iso_639_1': 'ja', 'name': 'æ—¥æœ¬èªž'}]",Released,NaN,PokÃ©mon 4Ever: Celebi - Voice of the Forest,False,5.7,82.0,2001,19730
45265,FALSE,NaN,0,"[Comedy, Drama]",NaN,265189,tt2121382,sv,Turist,"While holidaying in the French Alps, a Swedish...",...,118.0,"[{'iso_639_1': 'fr', 'name': 'FranÃ§ais'}, {'is...",Released,NaN,Force Majeure,False,6.8,255.0,2014,19730

In [93]:
smd.isna().sum()

adult                       0
belongs_to_collection    7425
budget                      0
genres                      0
homepage                 7125
id                          0
imdb_id                     0
original_language           0
original_title              0
overview                   12
popularity                  0
poster_path                 3
production_companies        0
production_countries        0
release_date                0
revenue                     0
runtime                     0
spoken_languages            0
status                      2
tagline                     0
title                       0
video                       0
vote_average                0
vote_count                  0
year                        0
1318961311304               0
description                 0
dtype: int64

In [92]:
smd['tagline'] = smd['tagline'].fillna('')
smd['description'] = smd['overview'] + smd['tagline']
smd['description'] = smd['description'].fillna('')

In [94]:
tf = TfidfVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0, stop_words='english')
tfidf_matrix = tf.fit_transform(smd['description'])

In [107]:
tfidf_matrix.shape

(9099, 268123)

In [108]:
# cosine similarity
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [109]:
cosine_sim[0]

array([1.        , 0.00680476, 0.        , ..., 0.        , 0.00344913,
       0.        ])

# 30 similar Movies based on cosine similarity score

In [111]:
smd = smd.reset_index()
titles = smd['title']
indices = pd.Series(smd.index, index=smd['title'])

In [112]:
titles

0                                               Toy Story
1                                                 Jumanji
2                                        Grumpier Old Men
3                                       Waiting to Exhale
4                             Father of the Bride Part II
5                                                    Heat
6                                                 Sabrina
7                                            Tom and Huck
8                                            Sudden Death
9                                               GoldenEye
10                                 The American President
11                            Dracula: Dead and Loving It
12                                                  Balto
13                                                  Nixon
14                                       Cutthroat Island
15                                                 Casino
16                                  Sense and Sensibility
17                                             Four Rooms
18                         Ace Ventura: When Nature Calls
19                                            Money Train
20                                             Get Shorty
21                                                Copycat
22                                              Assassins
23                                                 Powder
24                                      Leaving Las Vegas
25                                                Othello
26                                           Now and Then
27                                             Persuasion
28                              The City of Lost Children
29                                         Shanghai Triad
                              ...
9069     Teenage Mutant Ninja Turtles: Out of the Shadows
9070                   Popstar: Never Stop Never Stopping
9071                                      The Conjuring 2
9072                              Approaching the Unknown
9073                                         Ghostbusters
9074                                 Central Intelligence
9075                                         Jason Bourne
9076                                      The Maid's Room
9077                                 The Legend of Tarzan
9078                             The Purge: Election Year
9079                     Mike and Dave Need Wedding Dates
9080                                  Survive and Advance
9081                                             Tallulah
9082                                                Piper
9083                                                Nerve
9084                                My Friend Rockefeller
9085                                            Sunspring
9086                           Author: The JT LeRoy Story
9087                                   Hell or High Water
9088                        Kingsglaive: Final Fantasy XV
9089                                                 Body
9090                         Sharknado 4: The 4th Awakens
9091                       The Last Brickmaker in America
9092                                               Rustom
9093                                         Mohenjo Daro
9094                                        Shin Godzilla
9095    The Beatles: Eight Days a Week - The Touring Y...
9096                        PokÃ©mon: Spell of the Unknown
9097          PokÃ©mon 4Ever: Celebi - Voice of the Forest
9098                                        Force Majeure
Name: title, Length: 9099, dtype: object

In [113]:
indices

title
Toy Story                                                0
Jumanji                                                  1
Grumpier Old Men                                         2
Waiting to Exhale                                        3
Father of the Bride Part II                              4
Heat                                                     5
Sabrina                                                  6
Tom and Huck                                             7
Sudden Death                                             8
GoldenEye                                                9
The American President                                  10
Dracula: Dead and Loving It                             11
Balto                                                   12
Nixon                                                   13
Cutthroat Island                                        14
Casino                                                  15
Sense and Sensibility                                   16
Four Rooms                                              17
Ace Ventura: When Nature Calls                          18
Money Train                                             19
Get Shorty                                              20
Copycat                                                 21
Assassins                                               22
Powder                                                  23
Leaving Las Vegas                                       24
Othello                                                 25
Now and Then                                            26
Persuasion                                              27
The City of Lost Children                               28
Shanghai Triad                                          29
                                                      ...
Teenage Mutant Ninja Turtles: Out of the Shadows      9069
Popstar: Never Stop Never Stopping                    9070
The Conjuring 2                                       9071
Approaching the Unknown                               9072
Ghostbusters                                          9073
Central Intelligence                                  9074
Jason Bourne                                          9075
The Maid's Room                                       9076
The Legend of Tarzan                                  9077
The Purge: Election Year                              9078
Mike and Dave Need Wedding Dates                      9079
Survive and Advance                                   9080
Tallulah                                              9081
Piper                                                 9082
Nerve                                                 9083
My Friend Rockefeller                                 9084
Sunspring                                             9085
Author: The JT LeRoy Story                            9086
Hell or High Water                                    9087
Kingsglaive: Final Fantasy XV                         9088
Body                                                  9089
Sharknado 4: The 4th Awakens                          9090
The Last Brickmaker in America                        9091
Rustom                                                9092
Mohenjo Daro                                          9093
Shin Godzilla                                         9094
The Beatles: Eight Days a Week - The Touring Years    9095
PokÃ©mon: Spell of the Unknown                         9096
PokÃ©mon 4Ever: Celebi - Voice of the Forest           9097
Force Majeure                                         9098
Length: 9099, dtype: int64

In [116]:
def get_recommendations(title):
    idx = indices[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:31]
    movie_indices = [i[0] for i in sim_scores]
    return titles.iloc[movie_indices]

# Top Recommendations for movies

In [117]:
get_recommendations('The Godfather').head(10)

973      The Godfather: Part II
8387                 The Family
3509                       Made
4196         Johnny Dangerously
29               Shanghai Triad
5667                       Fury
2412             American Movie
1582    The Godfather: Part III
4221                    8 Women
2159              Summer of Sam
Name: title, dtype: object

In [118]:
get_recommendations('The Dark Knight').head(10)

7931                      The Dark Knight Rises
132                              Batman Forever
1113                             Batman Returns
8227    Batman: The Dark Knight Returns, Part 2
7565                 Batman: Under the Red Hood
524                                      Batman
7901                           Batman: Year One
2579               Batman: Mask of the Phantasm
2696                                        JFK
8165    Batman: The Dark Knight Returns, Part 1
Name: title, dtype: object

# Recommendar based on Collabrative Filtering

In [129]:
reader = Reader()

In [130]:
ratings = pd.read_csv('ratings_small.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [131]:
ratings.shape

(100004, 4)

In [132]:
data = Dataset.load_from_df(ratings[['userId', 'movieId', 'rating']], reader)
data.split(n_folds=5)

In [135]:
svd = SVD()
evaluate(svd, data, measures=['RMSE', 'MAE'])

Evaluating RMSE, MAE of algorithm SVD.

------------
Fold 1
RMSE: 0.9000
MAE:  0.6933
------------
Fold 2
RMSE: 0.8978
MAE:  0.6923
------------
Fold 3
RMSE: 0.8924
MAE:  0.6870
------------
Fold 4
RMSE: 0.9020
MAE:  0.6945
------------
Fold 5
RMSE: 0.8893
MAE:  0.6840
------------
------------
Mean RMSE: 0.8963
Mean MAE : 0.6902
------------
------------

CaseInsensitiveDefaultDict(list,
                           {'rmse': [0.9000070314684759,
                             0.8977656058622303,
                             0.8923898711716608,
                             0.9019651379690982,
                             0.8893065618989267],
                            'mae': [0.6932898358892997,
                             0.6923266432008054,
                             0.686993385068332,
                             0.6944900190115864,
                             0.6840176965489243]})

In [ ]:
# RMSE is 0.8963 which is conssidered as quite good.

In [136]:
trainset = data.build_full_trainset()
svd.train(trainset)
# training dataset to have predictions.

In [140]:
ratings[ratings['userId'] == 1]

    userId  movieId  rating   timestamp
0        1       31     2.5  1260759144
1        1     1029     3.0  1260759179
2        1     1061     3.0  1260759182
3        1     1129     2.0  1260759185
4        1     1172     4.0  1260759205
5        1     1263     2.0  1260759151
6        1     1287     2.0  1260759187
7        1     1293     2.0  1260759148
8        1     1339     3.5  1260759125
9        1     1343     2.0  1260759131
10       1     1371     2.5  1260759135
11       1     1405     1.0  1260759203
12       1     1953     4.0  1260759191
13       1     2105     4.0  1260759139
14       1     2150     3.0  1260759194
15       1     2193     2.0  1260759198
16       1     2294     2.0  1260759108
17       1     2455     2.5  1260759113
18       1     2968     1.0  1260759200
19       1     3671     3.0  1260759117

In [143]:
svd.predict(1, 302,3)
# it will just tell how userid 1 will predict movie with id as 302

Prediction(uid=1, iid=302, r_ui=3, est=2.5813400028365154, details={'was_impossible': False})